body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 30px;
}

.loader:before {
  content: "";
  border: 2px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  to {transform: rotate(360deg);}
}
